# -------------------------------------------------------------
# CONFIGURATION DE LA BASE DE DONNÉES (POSTGRESQL)
# -------------------------------------------------------------
DB_HOST=localhost
DB_PORT=5433
DB_NAME=ast_ai
DB_USER=user
DB_PASSWORD=password

# -------------------------------------------------------------
# CONFIGURATION DU LLM LOCAL (OLLAMA)
# -------------------------------------------------------------
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:7b

# -------------------------------------------------------------
# RÈGLES METIER & GARDE-FOUS (GUARDRAILS)
# -------------------------------------------------------------
VIP_REFUND_PERCENT=20
ALLOW_STANDARD_REFUND=False
